@import "../../assets/style/colors.scss";

.tuorp-key {
  background-color: $very-light-grey;
  &:hover {
    background-color: $grey;
  }
  &:active {
    background-color: $light-grey;
  }
  &--found {
    background-color: $green;
  }
  &--out {
    background-color: $dark-grey;
  }
}
